.fe-form-container {
  max-width: 500px;
  padding: 20px;
  background-color: #212529;
  color: white;
  border-radius: 20px;
  margin: 55px auto 50px;
}

.fe-form-container-container {
  padding: 20px 20px 0;
}

.fe-form-big-container {
  max-width: 1000px;
}